<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hide input fields</title>
  <!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
</head>
<body>
<div ng-controller="MaskInputController as vm">

  Enter input:
  <input type="text" ng-model="maskInput" id="mask-input" />

  <!-- Prints the input values using angular two-way data binding {{expression}} -->
  {{maskInput}}


</div>

</body>

<!-- <script>

var $str = $('#hide-input');
var str = $str.val();
console.log(str);

</script>
-->
</html>
